/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);

    /* декоратиная надпись в теаной теме */

  .decorated-elem {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: var(--basic-padding);
    right: calc(var(--basic-padding) + 10px);
  }

  .decorated-elem::before {
    content: "REC";
    color: var(--accent-color);
    line-height: 25px;
  }

  .decorated-elem::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 2px 2px var(--accent-color);
  }
}

:root .theme_dark {
  --accent-color: #ff0070;
  --color-title: #DB00FF;
  --color-title-decor: #000028;
  --color-text: #F1B2CE;
}
