/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  .decorated-elem {
    display: none;
  }
}

:root .theme_light {
  /* Переменные светлой темы */
  --color-title: #FFC2E6;
  --accent-color: #353430;
  --color-text: #353430;
  --decor-background: #ff8dcb;
  --title-shadow-color: #ff8dcb;
  --color-border-hover: rgba(50, 49, 45, 0.40);
  --background-color: rgb(255, 238, 247);
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-title: #FFC2E6;
    --accent-color: #353430;
    --color-text: #353430;
    --decor-background: #ff8dcb;
    --title-shadow-color: #ff8dcb;
    --color-border-hover: rgba(50, 49, 45, 0.40);
    --background-color: rgb(255, 238, 247);
    --background-image: url(../images/cover-image-light.png);
  }


  .decorated-elem {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  :root {
    --title-shadow-color: #ff0070;
  }
}

@media (width >= 1024px) {
  .page.theme_light {
    --title-shadow-color: #ff0070;
  }
}