/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  position: relative;
  padding: var(--basic-padding);
}

.header__theme-menu-list {
  display: grid;
  justify-items: end;
  gap: 10px;
  color: var(--accent-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 1.5px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__cover-title {
  font-size: var(--font-size-title-mobile);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.title-decor {
  background-color: var(--decor-background);
  color: var(--color-title-decor);
  font-size: inherit;
  line-height: 1.3;
}


/* декоративные уголочки */

.decorated-zone::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: var(--basic-padding);
  right: var(--basic-padding);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: var(--basic-padding);
  left: var(--basic-padding);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}


/* декоратиная надпись в теаной теме */

.decorated-elem {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: var(--basic-padding);
  right: calc(var(--basic-padding) + 10px);
}

.decorated-elem::before {
  content: "rec";
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.decorated-elem::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 2px 2px var(--accent-color);
}

@media (width >=768px) {
  :root {
    --basic-padding: 20px;
  }

  .header__cover-title {
    margin-left: calc(var(--basic-padding) / (-1));
    font-size: var(--font-size-title-desctop);
  }

  .header__cover-text {
    width: 50%;
    justify-self: self-end;
  }
}

@media (width >=1024px) {
  .header__theme-menu {
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, min-content);
    justify-content: center;
  }
}

.content {
  padding: var(--basic-padding);
  padding-block-end: 40px;
}

.content-section {
  display: grid;
  gap: 20px;
  padding-block-start: 51px;
}

.content-section:first-of-type {
  padding-block-start: 30px;
}

.list {
  display: grid;
  align-items: baseline;
  gap: 20px;
}

.list-item {
  display: grid;
  gap: 10px;
}

.sectionn-title {
  font-size: 1em;
  color: var(--accent-color);
}

.item-text {
  color: var(--color-text);
  line-height: 1.3;
}

.item-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--decor-background);
}

.sectionn-subtitle {
  margin-bottom: 21px;
}

h4.item-title {
  font-weight: 400;
}

@media (width >=768px) {
  .section-why {
    grid-template-columns: 1fr 2fr;
  }

  .section-causes .sectionn-title{
    width: calc(100% / 3 - var(--basic-padding) * 2);
  }

  .section-advices {
    grid-template-columns: 1fr 2fr;
  }

  .content {
    padding-block-end: 60px;
  }

  .content-section {
    padding-block-start: 80px;
  }

  .content-section:first-of-type {
    padding-block-start: 40px;
  }
}

@media (width >=1024px) {
  .section-why {
    grid-template-columns: minmax(315px, 1fr) 3fr;
  }

  .section-causes .list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-advices {
    grid-template-columns: minmax(315px, 1fr) 3fr;
  }
}

.pictures {
  gap: var(--basic-padding);
}

.pictures-gallery {
  display: grid;
  gap: var(--basic-padding);
}

.image {
  display: inline-flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >=768px) {
  .pictures-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .image:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image:nth-child(2) {
    grid-row-end: span 2;
  }

  .image:nth-child(3) {
    grid-row-end: span 2;
  }

  .image:nth-child(5) {
    grid-column-end: span 2;
  }
}

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  padding: var(--basic-padding);
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-size: var(--font-size-title-mobile);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

@media (width >=768px) {
  .footer-title {
    font-size: var(--font-size-title-desctop);
  }
}


/* Состояния ссылок */


.header__theme-menu-button:hover {
  border: 1px solid var(--color-border-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color);
}

.item-text-link:hover {
  border-block-end: 1px solid var(--color-text);
}

.item-text-link:focus {
  outline: none;
}

.item-text-link:focus-visible {
  outline: none;
  border: 1px solid var(--color-text);
}